%header
    = render :partial => "shared/navbar"
    %ul#nav-mobile.side-nav.fixed
        %li
            %div.user-view
                %div.background
                    =image_tag "office.jpg"
                %a{:href => "#"}
                    =image_tag "profile/0.jpg", :class => 'profile-img circle'
                %a{:href => "#"}
                    %span.white-text.name
                        = @current_user.displayName + " (" + @current_user.username + ")"
                %a{:href => "#"}
                    %span.white-text.email
                        = @current_user.email
        %li
            %a.subheader{:href => "/projects"} Projects
        %li
            %a{:href => "/projects"}
                %i.small.material-icons 
                    arrow_back 
                Projects
        -@current_user.projects.each do |proj|
            %li
                %a{:href => "/projects/#{proj.id}"}
                    =proj.name
        %li
            %div.divider
        -if defined? @project
            %li
                %a.subheader Recent Issues
            -@project.issues.order('updated_at DESC').first(5).each do |issue|
                %li
                    %a{:href => "#!"}
                        = issue.name
            %li
                %div.divider
            %li
                %a.subheader Burndown
            %li
                %a{:href => "/projects/#{@project.id}/burndown"} View Chart
        
    :coffeescript
        $(document).on 'turbolinks:load', ->
            $('.button-collapse').sideNav()
            return