= render :partial => "shared/sidenav"
%main.container
    .row#status-row
        -@status.each do |status|
            .col.s12.m6.l3
                .statusName
                    %h5
                        =status.name
                %ul.connectedSortable{:id => "swimlane_" + status.id.to_s}
                    -status.issues.ordered.each do |issue|
                        %li.ui-state-default
                            .card{:id => issue.id}
                                .card-content.grey-text.text-darken-4
                                    %span.card-title
                                        =issue.name
                                    %p
                                        =issue.description
                                        .chip
                                            =issue.category.name
                                        .chip
                                            SP: #{issue.story_points}
                                .card-action
                                    %a.openbtn.btn-flat{:href => "#", :data => "#{issue.id}"} Open
                                    %a.editbtn.modal-trigger.btn-flat.disabled{:href => "#", :data => "#{issue.id}", :disabled => true} Edit
                                    %a.deletebtn.modal-trigger.btn-flat.disabled{:href => "#deleteModal",:data => "#{issue.id}", :disabled => true} Delete
                                            
                
    .fixed-action-btn{:style => "bottom: 50px; right: 19px;"}
        %button.btn-floating.btn-large.modal-trigger{"data-turbolinks" => 'false', "data-target" => 'swimlaneModal',:onclick =>"Materialize.updateTextFields();"}
            %i.material-icons 
                add
                
= form_tag '#', id: "add" do 
    .modal#swimlaneModal
        .modal-content
            %h4.center
                Add New Issue
            .input-field
                %input{:type =>"text",:id => "name",:name => "name","data-error"=>".errorTxt1"}
                %label{:for=>"name"}
                    Name
                .errorTxt1
            .input-field
                %textarea.materialize-textarea{:id => "description", :name => "description", "data-error"=>".errorTxt2"}
                %label{:for=>"description"}
                    Description
                .errorTxt2
            .input-field
                %select{:id => "status_id", :name => "status_id", "data-error"=>".errorTxt2"}
                    -@status.each do |status|
                        %option{:class => status.name.downcase, :value => status.id}
                            =status.name
                %label{:for=>"status_id"}
                    Status
                .errorTxt3
            .input-field
                %select{:id => "category_id", :name => "category_id", "data-error"=>".errorTxt3"}
                    -@categories.each do |category|
                        %option{:class => category.name.downcase, :value => category.id}
                            =category.name
                %label{:for=>"category_id"}
                    Category
                .errorTxt4
            .input-field
                %select{:id => "assignee", :name => "assignee", "data-error"=>".errorTxt6", :disabled => "true"}
                    -@user.each do |user|
                        %option{:class => user.displayName.downcase, :value => user.displayName}
                            =user.displayName
                %label{:for=>"assignee"}
                    Assignee    
                .errorTxt6
            .input-field
                %input{:type =>"text",:id => "estimated_time",:name => "estimated_time", "data-error"=>".errorTxt7"}
                %label{:for=>"estimated_time"}
                    Estimated Time to Completion
                .errorTxt7
            .input-field
                %input{:type =>"number",:id => "story_points",:name => "story_points",:value =>"0", :min => "0","data-error"=>".errorTxt8"}
                %label{:for=>"story_points"}
                    Story Points
                .errorTxt8
            %input{:type =>"hidden", :name => "project_id",:value => @project.id}
            %input{:type =>"hidden", :name => "next_id",:value => "-1"}
        .modal-footer
            %button.waves-effect.waves-teal.btn-flat{:type =>"submit",:name=>"action"}
                %span.orange-text
                    Submit
    = hidden_field_tag 'token', @current_user.token
    
.modal#issueModel
    .modal-content
        %h4.center#issueName
            Issue Name
        %h5#issueDesc
            Issue Description
        #activityList
            .activityItem
                Activity Item 1
            .activityItem
                Activity Item 2